<!-- banner section -->
<section class="bannerSection position-relative" style="background: url('../assets/images/banner/1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6 col-xs-12 align-self-end">
        <div class="signupForm">
          <div class="heading">
            <h2>JOIN
              <span>free</span> TODAY</h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>I am</label>
                <select class="form-control selectOpt-1">
                  <option value="">Select..</option>
                  <option value="1">Man</option>
                  <option value="2">Woman</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Seeking a</label>
                <select class="form-control selectOpt-1">
                  <option value="">Select..</option>
                  <option value="1">Man</option>
                  <option value="2">Woman</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Frist name</label>
                <input class="form-control input-1" type="text" placeholder="Small input">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last name</label>
                <input class="form-control input-1" type="text" placeholder="Small input">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control input-1" type="text" placeholder="Small input">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Password</label>
                <input class="form-control input-1" type="text" placeholder="minimum 8 characters">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>&nbsp;</label>
                <input class="form-control input-1" type="text" placeholder="re enter password">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone</label>
                <input class="form-control input-1" type="text" placeholder="Phone number">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <input class="form-control input-1" type="text" placeholder="Enter Country">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-3">
              <button class="signupButton">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="back-row-toggle splat-toggle">
    <div class="rain front-row"></div>
    <div class="rain back-row"></div>
  </div>
</section>