<section class="steps">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="commonHeading">
          <h2>Step To Find Your Soul Mate</h2>
          <div class="design"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
          <p>3 Easy Steps to Find the Right Match</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="stepInner">
          <div class="stepImg"><img src="assets/images/step/dating-pciture-1.jpg" alt=""></div>
          <div class="heading">
            <h2>CREATE PROFILE</h2>
          </div>
          <p>Answer the basics to help us narrow down people who meet your personal criteria.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="stepInner">
          <div class="stepImg"><img src="assets/images/step/dating-pciture-2.jpg" alt=""></div>
          <div class="heading">
            <h2>FIND MATCH</h2>
          </div>
          <p>Answer the basics to help us narrow down people who meet your personal criteria.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="stepInner">
          <div class="stepImg"><img src="assets/images/step/dating-pciture-3.jpg" alt=""></div>
          <div class="heading">
            <h2>START DATING</h2>
          </div>
          <p>Answer the basics to help us narrow down people who meet your personal criteria.</p>
        </div>
      </div>
    </div>
  </div>
</section>