<header>
  <div class="container">
    <div class="row">
      <div class="logo">
        <img src="assets/images/logo.png">
      </div>
      <div class="right_side">
        <nav>
          <ul>
            <li>
              <a href="#">ABOUT us</a>
            </li>
            <li>
              <a href="#">EHARMONY ESPANOL</a>
            </li>
            <li>
              <a href="#">ABOUT EHARMONY</a>
            </li>
            <li>
              <a href="#">ABOUT EHARMONY</a>
            </li>
            <li>
              <a href="#">ABOUT EHARMONY</a>
            </li>
            <li>
              <a href="#">ABOUT EHARMONY</a>
            </li>
          </ul>
        </nav>
        <div class="loginBtn">
          <a href="#" class="btn">Log in</a>
        </div>
      </div>
    </div>
  </div>
</header>