<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="title">
          <h2>About</h2>
        </div>
        <p>Suspendisse cursus felis id augue ultrices vel scelerisque arcu pulvinar. Donec adipiscing nulla metus, ut
          elementum metus. Praesent quis rutrum sem. Curabitur leo lectus, imperdiet eget gravida sed, bibendum ut
          quam. Nullam venenatis, lorem id mollis volutpat, nisi metus.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="title">
          <h2>Our Services</h2>
        </div>
        <ul>
          <li>Online Marketing <span>------------------------------------------------</span></li>
          <li>Graphic Design <span>------------------------------------------------</span></li>
          <li>Web Design <span>------------------------------------------------</span></li>
          <li>Advertising <span>------------------------------------------------</span></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="title">
          <h2>Get In Touch</h2>
        </div>
        <ul>
          <li>123, Guru Nanak Nagar, New York - 123456. </li>
          <li>Phone : 123-456-789, Fax : 123-456-789</li>
          <li>Email : mail@website.com</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="title">
          <h2>Flickr</h2>
        </div>
        <ol>
          <li><a href="#"><img src="assets/images/profilePic/2.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/profilePic/3.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/profilePic/1.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/profilePic/2.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/profilePic/3.jpg" alt=""></a></li>
        </ol>
      </div>
    </div>
  </div>
</footer>
<div class="bottomFooter">
  Copyright 2014. All Rights Reserved.
</div>