<section class="download_app" style=" background-image: url('assets/images/zaralax/1.jpg');">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-6">
        <div class="appInner">
          <div class="heading">
            <h2>Download ABCD app</h2>
          </div>
          <ul class="appStore">
            <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-windows" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
          </ul>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mobilePhone">
          <img src="assets/images/mobile.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>