/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul li a {
    display: inline-block;
}

a, button {
    display: inline-block;
    text-decoration: none !important;
    cursor: pointer;
}

::selection {
    background: #cc0229;
    color: #fff;
    text-shadow: none;
}

.input-1 {
    background: none;
    border: none;
    height: 36px;
    font-size: 14px;
    letter-spacing: .5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: #fff;
}

.input-1::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bbbbbb;
}

.input-1::-moz-placeholder {
    /* Firefox 19+ */
    color: #bbbbbb;
}

.input-1:-ms-input-placeholder {
    /* IE 10+ */
    color: #bbbbbb;
}

.input-1:-moz-placeholder {
    /* Firefox 18- */
    color: #bbbbbb;
}

.input-1:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    color: #ffffff;
    border-bottom: 1px solid #fff;
}

.selectOpt-1 {
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    color: #bbbbbb;
    border-radius: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.selectOpt-1:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border-color: #fff;
    color: #fff;
}

.selectOpt-1:focus option {
    color: #fff;
    background: #333333;
}

.commonHeading {
    text-align: center;
    margin-bottom: 15px;
}

.commonHeading p {
    font-weight: 600;
}

.commonHeading h2 {
    font-family: "Belle et Belle Personal Use";
    font-size: 42px;
    color: #fe7043;
}

.commonHeading .design {
    position: relative;
}

.commonHeading .design i {
    color: #333333;
}

.commonHeading .design::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% + 20px);
    width: 100px;
    height: 1px;
    background: #333333;
}

.commonHeading .design::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(50% + 20px);
    width: 100px;
    height: 1px;
    background: #333333;
}