<section class="textimonial">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-heading">
        <h2>Testimonials</h2>
      </div>
      <div class="col-9">
        <div class="testimonial owl-carousel">
          <div class="item">
            <div class="textInner">
              <div class="clientImg">
                <img src="/assets/images/testimonial/thum-2.jpg" alt="">
              </div>
              <div class="textInfo">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis
              </div>
              <div class="authorName">Miss Jorina Akter - <span>Iraq</span></div>
            </div>
          </div>
          <div class="item">
            <div class="textInner">
              <div class="clientImg">
                <img src="/assets/images/testimonial/thum-2.jpg" alt="">
              </div>
              <div class="textInfo">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis
              </div>
              <div class="authorName">Miss Jorina Akter - <span>Iraq</span></div>
            </div>
          </div>
          <div class="item">
            <div class="textInner">
              <div class="clientImg">
                <img src="/assets/images/testimonial/thum-2.jpg" alt="">
              </div>
              <div class="textInfo">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis
              </div>
              <div class="authorName">Miss Jorina Akter - <span>Iraq</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>